@import "gn_search_default.less";
@import "../../../style/gn_editor.less";
@import "gn_view.less";

[ng-app="gn_editor"] {
  .gn-editor-board {
    .gn-top-search {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

