<div class="container">
  <div class="navbar-header">
    <button type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            title="{{'toggleNavigation' | translate}}"
            aria-expanded="false"
            aria-controls="navbar">
      <span class="sr-only" data-translate>toggleNavigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="clearfix" data-ng-if="gnCfg.mods.home.enabled">
          <a class="pull-left" data-gn-active-tb-item="{{gnCfg.mods.home.appUrl}}">
          <img class="gn-logo"
               alt="{{'siteLogo' | translate}}"
               data-ng-src="{{gnUrl}}../images/logos/{{info['system/site/siteId']}}.png?random{{info['system/site/lastUpdate']}}"/>
          </a>
        <a class="gn-nopadding-left hidden-sm hidden-md pull-left" data-gn-active-tb-item="{{gnCfg.mods.home.appUrl}}">
          <span class="gn-name" 
                data-ng-class="authenticated && user.isEditorOrMore() ? 'gn-truncate' : ''"
                title="{{info['system/site/name']}}">{{info['system/site/name']}}</span>
        </a>
      </li>
      <li data-ng-if="gnCfg.mods.search.enabled">
        <a data-gn-active-tb-item="{{gnCfg.mods.search.appUrl}}"
           title="{{'search' | translate}}">
          <i class="fa fa-fw fa-search hidden-sm"></i>
          <span data-translate="">search</span>
        </a>
      </li>
      <li data-ng-if="gnCfg.mods.map.enabled">
        <a data-gn-active-tb-item="{{gnCfg.mods.map.appUrl}}"
           title="{{'map' | translate}}">
          <i class="fa fa-fw fa-globe hidden-sm"></i>
          <span data-translate="">makeYourMap</span>

          <span data-gnv-layer-indicator=""/>
        </a>
      </li>
      <li class="dropdown dropdown-hover open" data-ng-if="gnCfg.mods.editor.enabled"
          data-ng-show="authenticated && user.isEditorOrMore()"
          id="gn-login-dropdown">
        <a data-gn-active-tb-item="{{gnCfg.mods.editor.appUrl}}"
           title="{{'editorBoard' | translate}}"
           class="dropdown-toggle"
           role="button" aria-expanded="false">
          <i class="fa fa-fw fa-pencil hidden-sm"></i>
          <span data-translate="">contribute</span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a data-gn-active-tb-item="{{gnCfg.mods.editor.appUrl}}#/create">
              <i class="fa fa-fw fa-plus"/>&nbsp;<span data-translate="">addRecord</span>
            </a>
          </li>
          <li>
            <a data-gn-active-tb-item="{{gnCfg.mods.editor.appUrl}}#/import">
              <i class="fa fa-fw fa-upload"/>&nbsp;<span data-translate="">ImportRecord</span>
            </a>
          </li>
          <li>
            <a data-gn-active-tb-item="{{gnCfg.mods.editor.appUrl}}#/directory">
              <i class="fa fa-fw fa-list-ul"/>&nbsp;<span data-translate="">directoryManager</span>
            </a>
          </li>
          <li>
            <a data-gn-active-tb-item="{{gnCfg.mods.editor.appUrl}}#/batchedit">
              <i class="fa fa-fw fa-pencil"/>&nbsp;<span data-translate="">batchEditing</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown dropdown-hover open" data-ng-show="user.isUserAdminOrMore()">
        <a data-gn-active-tb-item="admin.console"
           title="{{'adminConsole' | translate}}"
           class="dropdown-toggle"
           role="button" aria-expanded="false">
          <i class="fa fa-fw fa-wrench hidden-sm"></i>
          <span data-translate="">adminConsole</span>
        </a>
        <ul data-ng-if="user.isUserAdmin()" class="dropdown-menu" role="menu">
          <li data-ng-repeat="t in userAdminMenu">
            <a data-gn-active-tb-item="admin.console{{t.route}}">
              <i class="fa fa-fw {{t.icon}}"/>&nbsp;<span data-translate="">{{t.name | translate}}</span>
            </a>
          </li>
        </ul>
        <ul data-ng-if="user.isAdministrator()" class="dropdown-menu" role="menu">
          <li data-ng-repeat="t in adminMenu">
            <a data-gn-active-tb-item="{{gnCfg.mods.admin.appUrl}}{{t.route}}">
              <i class="fa fa-fw {{t.icon}}"/>&nbsp;<span data-translate="">{{t.name | translate}}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>


    <form class="navbar-form navbar-right">
      <div class="form-group"
           data-gn-language-switcher="lang"
           data-langs="langs"
           data-lang-labels="langLabels"/>
    </form>

    <ul data-ng-if="gnCfg.mods.signin.enabled"
        class="nav navbar-nav navbar-right username-dropdown">
      <li class="dropdown dropdown-hover open" data-ng-show="authenticated">
        <a data-gn-active-tb-item="{{gnCfg.mods.admin.appUrl}}#/organization/users?userOrGroup={{user.username}}"
          title="{{'userDetails' | translate}}"
          class="dropdown-toggle"
          role="button" aria-expanded="false">
          <img class="img-circle"
            alt="{{'avatar' | translate}}"
            data-ng-src="//gravatar.com/avatar/{{user.email | md5}}?s=18"/>
          <div class="gn-user-info hidden-sm">
            &nbsp;{{user.name}} {{user.surname}}<br>
            <span class="gn-user-role">{{user.profile | lowercase | translate}}</span>
          </div>
          <span class="alert alert-danger ng-hide"
                data-ng-show="session.remainingTime > 0 &&
                    session.remainingTime < session.alertInTitleWhen"
                data-translate=""
                data-translate-values="{remainingTime: '{{session.remainingTime}}'}">
            sessionWillExpireIn
          </span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="text-center hidden-xs">
            <img class="img-circle"
                 alt="{{'avatar' | translate}}"
                 data-ng-src="//gravatar.com/avatar/{{user.email | md5}}?s=56"/>
          </li>
          <li role="separator" class="divider hidden-xs"></li>
          <li class="dropdown-header hidden-xs" data-translate="">username</li>
          <li class="hidden-xs">
            <a data-gn-active-tb-item="{{gnCfg.mods.admin.appUrl}}#/organization/users?userOrGroup={{user.username}}">{{user.name}} {{user.surname}}</a>
          </li>
          <li class="dropdown-header hidden-xs" data-translate="">profile</li>
          <li class="hidden-xs">
            <a data-gn-active-tb-item="{{gnCfg.mods.admin.appUrl}}#/organization/users?userOrGroup={{user.username}}">{{user.profile | lowercase | translate}}</a>
          </li>
          <li role="separator" class="divider hidden-xs"></li>
          <li role="menuitem">
            <a href="{{gnCfg.mods.signout.appUrl}}"
                title="{{'signout' | translate}}">
              <i class="fa fa-sign-out"></i>&nbsp;
              {{'signout' | translate}}
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown dropdown-hover open signin-dropdown"
        data-ng-if="!authenticated && service !== 'catalog.signin' && service !== 'new.account' && !shibbolethEnabled">
        <a href="{{gnCfg.mods.signin.appUrl | signInLink}}"
           title="{{'signIn'|translate}}"
           class="dropdown-toggle"
           data-ng-keypress="$event"
           data-ng-mouseover="focusLoginPopup()">
          <i class="fa fa-sign-in hidden-sm"/>&nbsp;
          {{'signIn' | translate}}
        </a>
        <ul class="dropdown-menu" role="menu">
          <li role="menuitem">
            <form name="gnSigninForm" class="navbar-form flex-row"
              action="{{signInFormAction}}" method="post" role="form">
              <input type="hidden" name="_csrf" value="{{csrf}}"/>
              <div class="form-group form-group-sm">
                <label class="sr-only" for="inputUsername" data-translate="">username</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                  <input type="text" class="form-control" id="inputUsername" name="username" autofocus=""
                         placeholder="{{'username' | translate}}" data-ng-model="signinUsername"
                         required=""/>
                </div>
              </div>
              <div class="flex-spacer"></div>
              <div class="form-group form-group-sm">
                <label class="sr-only" for="inputPassword" data-translate="">password</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </span>
                  <input type="password" class="form-control" id="inputPassword" name="password"
                    autocomplete="off"
                    data-ng-model="signinPassword" placeholder="{{'password' | translate}}"
                    required=""/>
                </div>
              </div>
              <div class="flex-spacer"></div>
              <button type="submit" class="btn btn-primary btn-sm pull-right"
                      aria-label="{{'signIn' | translate}}"
                      data-ng-disabled="!gnSigninForm.$valid">
                <i class="fa fa-sign-in"/>
              </button>
            </form>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
