/* Define custom node style here */
.body {}


/* Fix for relations button in search results */

div[gn-grid-related] .btn-group
 {
    background: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
}

/* increase size of publishing body logo on search page */

.gn-source-logo {
  max-width: 120px;
  max-height: 60px;
}

/* hide online validation checkbox */
a[data-gn-click-and-spin="validateInspire()"] {
    display:none !important;
}



 /* correctly align record title */
 .navbar-text{margin-top:0px;}

 strong.ng-binding[title] {margin-top:0px;}

 /* tweak help block in editor */
 .help-block {
    color: #737373 !important;
    font-size: 80% !important;
    margin-top: 0;
    margin-bottom: 0;
    .error {
      display: block;
      margin-top: 5px;
    }



